<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {%load static%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">MusicBeats</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/MusicBeats/songs">All Songs</a>
                </li>
            </ul>
            <form class="d-flex" style="padding-right: 3%;" method="GET" action="/MusicBeats/search">
                <input name="query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto"></ul>
                <li class="nav nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome {{request.user}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/MusicBeats/Watchlater">Listen Later</a>
                      <a class="dropdown-item" href="/MusicBeats/Favourites">Favourites</a>
                      <a class="dropdown-item" href="/MusicBeats/upload">Upload Music</a>
                      <a class="dropdown-item" href="/MusicBeats/c/{{request.user}}">Your Music</a>
                      <a class="dropdown-item" href="/MusicBeats/history">History</a>
                      <a class="dropdown-item" onclick="logout()">Logout</a>

                    </div>
                  </li>
                </ul>
                <script>
                    function logout(){
                        Swal.fire({
                            title: 'Are you sure you want to Log out?',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes!'
                            }).then((result) => {
                            if (result.value) {
                                document.location = "/MusicBeats/logout_user"
                            }
                        })
                    }
                </script>

        {% else %}
        <div class="my-2" style="padding-right: 0.5%;">
            <a href="/MusicBeats/login"><button class="btn btn-primary">Login</button></a>
        </div>
        <div class="my-2" style="padding-right: 2%;">
            <a href="/MusicBeats/signup"><button class="btn btn-primary">Signup</button></a>
        </div>
        {% endif %}
    </nav>
    {% block body %}
    {% endblock %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block js %}
    {% endblock %}
</body> 
</html>